* {
    font-family: 'Inter', sans-serif !important;
}

body {
    background-color: #ede5f1 !important;
    ;
}

/* welcome-section */

.welcomeHeader{
    text-align: left;
}

.col-6 h4,
a {
    margin-left: 5%;
}

.col-4 p {
    font-size: 18px;
}

.buttonskills .btn {
    margin-right: 5px;
    margin-top: 5px;
}

.buttonskills .btn:last-child {
    margin-right: 0;
}

#work {
    background-color: #e7d9ed !important;
}

.workDescription{
    margin-left: 5%;
    font-size: 18px;
}

.i{
    color:red,
}

.card-title {
    max-width: 100%;
    font-size: 4vw;
}

.card-img,
.card-img-top,
.card-img-bottom {
    max-width: 100%;
    height: auto;
    min-height: 38vh;
    max-height: 100vh;
    max-width: 100vh;
}

.text-white .card-img {
    filter: brightness(75%) saturate(50%);
}

.card-flip {

    background: none;
    border: none;
    padding: 0;

    .card {
        backface-visibility: hidden;
        transition: transform 300ms;
        transition-timing-function: linear;
        width: 100%;
        height: 100%;
        margin: 0;
    }

    .card:first-of-type {
        transform: rotateY(0deg);
    }

    .card:last-of-type {
        transform: rotateY(180deg);
        position: absolute;
        top: 0;
        display: flex;
    }

    &:hover {
    .card:first-of-type {
        transform: rotateY(-180deg);
    }

    .card:last-of-type {
        transform: rotateY(0deg);
    }
    }

}

.card-text{
    margin-left: 5%;
}

