* {
    font-family: 'Inter', sans-serif !important;
}

body {
    background-color: #ede5f1 !important;
    ;
}

.welcomeHeader{
    text-align: left;
}

.welcomeHeader.d-sm-none-description {
    font-size: 14pt;
}

.col-6 h4,
a {
    margin-left: 5%;
}

.col-4 p {
    font-size: 18px;
}

.buttonskills .btn {
    margin-right: 5px;
    margin-top: 5px;
}

.buttonskills .btn:last-child {
    margin-right: 0;
}

#work {
    background-color: #e7d9ed !important;
}

.workDescription{
    margin-left: 5%;
    font-size: 18px;
}

.card-title {
    max-width: 100%;
    font-size: 4vw;
}

.text-white .card-img {
    filter: brightness(75%) saturate(50%);
}

.card-flip {

    background: none;
    border: none;
    padding: 0;

    .card {
        backface-visibility: hidden;
        transition: transform 300ms;
        transition-timing-function: linear;
        width: 100%;
        height: 100%;
        margin: 0;
    }

    .card:first-of-type {
        transform: rotateY(0deg);
    }

    .card:last-of-type {
        transform: rotateY(180deg);
        position: absolute;
        top: 0;
        display: flex;
    }

    &:hover {
    .card:first-of-type {
        transform: rotateY(-180deg);
    }

    .card:last-of-type {
        transform: rotateY(0deg);
    }
    }

}

.card-text{
    margin-left: 5%;
}

@media (max-width: 768px) {
    .col-4 p {
        font-size: 14px;
    }

    .buttonskills .btn {
        margin-right: 3px;
        margin-top: 3px;
        font-size: 14px;
    }

    .workDescription {
        font-size: 14px;
    }

    .card-title {
        font-size: 6vw;
    }

    .card-text {
        font-size: 14px;
    }
}

.card {
    height: 70vh;
}

.card-img,
.card-img-top,
.card-img-bottom {
    max-height: 100%;
}

.card-title {
    text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.5);
    color: white;
}

@media (max-width: 400px) {
    .card {
        height: 25vh;
    }
}



